 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: #007fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-box {
  height: 80%;
  width: 80%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

#panel-top {
  height: 100px;
  width: 100%;
  background-color: #66b2ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.elem {
  display: flex;
  gap: 10px;
  align-items: center;
}
.elem h2{
  color: white;
}
.box {
  background-color: white;
  padding: 6px 25px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 25px;
}
#panel-bottom{
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
#bubble{
  height: 40px;
  width: 40px;
  background-color: pink;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#gif{
        display: none;
}

@media(max-width: 725px){
        
       .elem{
               flex-direction: column;
       }
        
        #main{
                height: 98.5%
        }
        
}